body {
  background-color: #999;
  font-family: Helvetica, Arial;
}

$game-container-padding: 10px;
$game-width: 800px;
$game-height: 600px;
$menu-width: 200px;
$menu-padding: 10px;

#game-container {
  width: $game-width + $menu-width + $game-container-padding;
  height: $game-height + 100px;
  margin: 0 auto;
  background-color: green;
  color: white;
}

#game-container > h1 {
  text-align: center;
  padding: 10px;
}

#game {
  width: $game-width;
  background-color: blue;
  display: inline-block;
}

#menu {
  width: $menu-width - 2 * $menu-padding;
  padding: 0 $menu-padding;
  height: 600px;
  background-color: red;
  float: right;
}
