body {
  background-color: #999;
  font-family: Helvetica, Arial;
}

$game-container-padding: 100px;
$game-width: 800px;
$game-height: 600px;

#game-container {
  width: $game-width + $game-container-padding;
  height: $game-height + 100px;
  margin: 0 auto;
  background-color: green;
  color: white;
}

#game-container > h1 {
  text-align: center;
  padding: 10px;
}

#game {
  width: $game-width;
  background-color: blue;
  margin: 0 auto;
}

